src/main/java/framework/integrations/gwServices/debugToolsAPI/pc/PCDebugToolsAPI.wsdl

<wsdl:definitions xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/pcdebugtools/PCDebugToolsAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/pcdebugtools/PCDebugToolsAPI" name="PCDebugToolsAPI">
    <wsdl:types>
        <xs:schema xmlns:gw="http://guidewire.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/pcdebugtools/PCDebugToolsAPI" elementFormDefault="qualified">
            <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="../../soapheaders/soapheaders.xsd"/>
            <!--  moveClockTo(Date, String)  -->
            <xs:element name="moveClockTo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="date" type="xs:dateTime" minOccurs="0" gw:type="java.util.Date"/>
                        <xs:element name="ipaddress" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="moveClockToResponse">
                <xs:complexType/>
            </xs:element>
            <xs:element name="WsiAuthenticationException">
                <xs:complexType/>
            </xs:element>
            <!--  getCurrentDate() : Date  -->
            <xs:element name="getCurrentDate">
                <xs:complexType/>
            </xs:element>
            <xs:element name="getCurrentDateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:dateTime" minOccurs="0" gw:type="java.util.Date"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  runWorkFlow()  -->
            <xs:element name="runWorkFlow">
                <xs:complexType/>
            </xs:element>
            <xs:element name="runWorkFlowResponse">
                <xs:complexType/>
            </xs:element>
            <!--  isWorkflowRunning() : Boolean  -->
            <xs:element name="isWorkflowRunning">
                <xs:complexType/>
            </xs:element>
            <xs:element name="isWorkflowRunningResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  runRenewal()  -->
            <xs:element name="runRenewal">
                <xs:complexType/>
            </xs:element>
            <xs:element name="runRenewalResponse">
                <xs:complexType/>
            </xs:element>
            <!--  isRenewalRunning() : Boolean  -->
            <xs:element name="isRenewalRunning">
                <xs:complexType/>
            </xs:element>
            <xs:element name="isRenewalRunningResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  runPrintDocuments()  -->
            <xs:element name="runPrintDocuments">
                <xs:complexType/>
            </xs:element>
            <xs:element name="runPrintDocumentsResponse">
                <xs:complexType/>
            </xs:element>
            <!--  isPrintDocumentsRunning() : Boolean  -->
            <xs:element name="isPrintDocumentsRunning">
                <xs:complexType/>
            </xs:element>
            <xs:element name="isPrintDocumentsRunningResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  runMbreMonthly()  -->
            <xs:element name="runMbreMonthly">
                <xs:complexType/>
            </xs:element>
            <xs:element name="runMbreMonthlyResponse">
                <xs:complexType/>
            </xs:element>
            <!--  isMbreMonthlyRunning() : Boolean  -->
            <xs:element name="isMbreMonthlyRunning">
                <xs:complexType/>
            </xs:element>
            <xs:element name="isMbreMonthlyRunningResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  runMbreQuarterly()  -->
            <xs:element name="runMbreQuarterly">
                <xs:complexType/>
            </xs:element>
            <xs:element name="runMbreQuarterlyResponse">
                <xs:complexType/>
            </xs:element>
            <!--  isMbreQuarterlyRunning() : Boolean  -->
            <xs:element name="isMbreQuarterlyRunning">
                <xs:complexType/>
            </xs:element>
            <xs:element name="isMbreQuarterlyRunningResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  runCountyOfficeUpdate()  -->
            <xs:element name="runCountyOfficeUpdate">
                <xs:complexType/>
            </xs:element>
            <xs:element name="runCountyOfficeUpdateResponse">
                <xs:complexType/>
            </xs:element>
            <!--  isCountyOfficeUpdateRunning() : Boolean  -->
            <xs:element name="isCountyOfficeUpdateRunning">
                <xs:complexType/>
            </xs:element>
            <xs:element name="isCountyOfficeUpdateRunningResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:portType name="PCDebugToolsAPIPortType">
        <wsdl:operation name="moveClockTo">
            <wsdl:input name="moveClockTo" message="tns:moveClockTo"/>
            <wsdl:output name="moveClockToResponse" message="tns:moveClockToResponse"/>
            <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
        </wsdl:operation>
        <wsdl:operation name="getCurrentDate">
            <wsdl:input name="getCurrentDate" message="tns:getCurrentDate"/>
            <wsdl:output name="getCurrentDateResponse" message="tns:getCurrentDateResponse"/>
            <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
        </wsdl:operation>
        <wsdl:operation name="runWorkFlow">
            <wsdl:input name="runWorkFlow" message="tns:runWorkFlow"/>
            <wsdl:output name="runWorkFlowResponse" message="tns:runWorkFlowResponse"/>
            <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
        </wsdl:operation>
        <wsdl:operation name="isWorkflowRunning">
            <wsdl:input name="isWorkflowRunning" message="tns:isWorkflowRunning"/>
            <wsdl:output name="isWorkflowRunningResponse" message="tns:isWorkflowRunningResponse"/>
            <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
        </wsdl:operation>
        <wsdl:operation name="runRenewal">
            <wsdl:input name="runRenewal" message="tns:runRenewal"/>
            <wsdl:output name="runRenewalResponse" message="tns:runRenewalResponse"/>
            <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
        </wsdl:operation>
        <wsdl:operation name="isRenewalRunning">
            <wsdl:input name="isRenewalRunning" message="tns:isRenewalRunning"/>
            <wsdl:output name="isRenewalRunningResponse" message="tns:isRenewalRunningResponse"/>
            <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
        </wsdl:operation>
        <wsdl:operation name="runPrintDocuments">
            <wsdl:input name="runPrintDocuments" message="tns:runPrintDocuments"/>
            <wsdl:output name="runPrintDocumentsResponse" message="tns:runPrintDocumentsResponse"/>
            <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
        </wsdl:operation>
        <wsdl:operation name="isPrintDocumentsRunning">
            <wsdl:input name="isPrintDocumentsRunning" message="tns:isPrintDocumentsRunning"/>
            <wsdl:output name="isPrintDocumentsRunningResponse" message="tns:isPrintDocumentsRunningResponse"/>
            <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
        </wsdl:operation>
        <wsdl:operation name="runMbreMonthly">
            <wsdl:input name="runMbreMonthly" message="tns:runMbreMonthly"/>
            <wsdl:output name="runMbreMonthlyResponse" message="tns:runMbreMonthlyResponse"/>
            <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
        </wsdl:operation>
        <wsdl:operation name="isMbreMonthlyRunning">
            <wsdl:input name="isMbreMonthlyRunning" message="tns:isMbreMonthlyRunning"/>
            <wsdl:output name="isMbreMonthlyRunningResponse" message="tns:isMbreMonthlyRunningResponse"/>
            <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
        </wsdl:operation>
        <wsdl:operation name="runMbreQuarterly">
            <wsdl:input name="runMbreQuarterly" message="tns:runMbreQuarterly"/>
            <wsdl:output name="runMbreQuarterlyResponse" message="tns:runMbreQuarterlyResponse"/>
            <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
        </wsdl:operation>
        <wsdl:operation name="isMbreQuarterlyRunning">
            <wsdl:input name="isMbreQuarterlyRunning" message="tns:isMbreQuarterlyRunning"/>
            <wsdl:output name="isMbreQuarterlyRunningResponse" message="tns:isMbreQuarterlyRunningResponse"/>
            <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
        </wsdl:operation>
        <wsdl:operation name="runCountyOfficeUpdate">
            <wsdl:input name="runCountyOfficeUpdate" message="tns:runCountyOfficeUpdate"/>
            <wsdl:output name="runCountyOfficeUpdateResponse" message="tns:runCountyOfficeUpdateResponse"/>
            <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
        </wsdl:operation>
        <wsdl:operation name="isCountyOfficeUpdateRunning">
            <wsdl:input name="isCountyOfficeUpdateRunning" message="tns:isCountyOfficeUpdateRunning"/>
            <wsdl:output name="isCountyOfficeUpdateRunningResponse" message="tns:isCountyOfficeUpdateRunningResponse"/>
            <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PCDebugToolsAPISoap12Binding" type="tns:PCDebugToolsAPIPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="moveClockTo">
            <soap12:operation soapActionRequired="false" style="document"/>
            <wsdl:input name="moveClockTo">
                <soap12:body use="literal"/>
                <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="moveClockToResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap12:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCurrentDate">
            <soap12:operation soapActionRequired="false" style="document"/>
            <wsdl:input name="getCurrentDate">
                <soap12:body use="literal"/>
                <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCurrentDateResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap12:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="runWorkFlow">
            <soap12:operation soapActionRequired="false" style="document"/>
            <wsdl:input name="runWorkFlow">
                <soap12:body use="literal"/>
                <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="runWorkFlowResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap12:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isWorkflowRunning">
            <soap12:operation soapActionRequired="false" style="document"/>
            <wsdl:input name="isWorkflowRunning">
                <soap12:body use="literal"/>
                <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="isWorkflowRunningResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap12:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="runRenewal">
            <soap12:operation soapActionRequired="false" style="document"/>
            <wsdl:input name="runRenewal">
                <soap12:body use="literal"/>
                <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="runRenewalResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap12:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isRenewalRunning">
            <soap12:operation soapActionRequired="false" style="document"/>
            <wsdl:input name="isRenewalRunning">
                <soap12:body use="literal"/>
                <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="isRenewalRunningResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap12:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="runPrintDocuments">
            <soap12:operation soapActionRequired="false" style="document"/>
            <wsdl:input name="runPrintDocuments">
                <soap12:body use="literal"/>
                <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="runPrintDocumentsResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap12:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isPrintDocumentsRunning">
            <soap12:operation soapActionRequired="false" style="document"/>
            <wsdl:input name="isPrintDocumentsRunning">
                <soap12:body use="literal"/>
                <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="isPrintDocumentsRunningResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap12:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="runMbreMonthly">
            <soap12:operation soapActionRequired="false" style="document"/>
            <wsdl:input name="runMbreMonthly">
                <soap12:body use="literal"/>
                <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="runMbreMonthlyResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap12:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isMbreMonthlyRunning">
            <soap12:operation soapActionRequired="false" style="document"/>
            <wsdl:input name="isMbreMonthlyRunning">
                <soap12:body use="literal"/>
                <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="isMbreMonthlyRunningResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap12:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="runMbreQuarterly">
            <soap12:operation soapActionRequired="false" style="document"/>
            <wsdl:input name="runMbreQuarterly">
                <soap12:body use="literal"/>
                <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="runMbreQuarterlyResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap12:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isMbreQuarterlyRunning">
            <soap12:operation soapActionRequired="false" style="document"/>
            <wsdl:input name="isMbreQuarterlyRunning">
                <soap12:body use="literal"/>
                <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="isMbreQuarterlyRunningResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap12:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="runCountyOfficeUpdate">
            <soap12:operation soapActionRequired="false" style="document"/>
            <wsdl:input name="runCountyOfficeUpdate">
                <soap12:body use="literal"/>
                <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="runCountyOfficeUpdateResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap12:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isCountyOfficeUpdateRunning">
            <soap12:operation soapActionRequired="false" style="document"/>
            <wsdl:input name="isCountyOfficeUpdateRunning">
                <soap12:body use="literal"/>
                <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="isCountyOfficeUpdateRunningResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap12:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PCDebugToolsAPISoap11Binding" type="tns:PCDebugToolsAPIPortType">
        <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="moveClockTo">
            <soap11:operation style="document"/>
            <wsdl:input name="moveClockTo">
                <soap11:body use="literal"/>
                <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="moveClockToResponse">
                <soap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap11:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCurrentDate">
            <soap11:operation style="document"/>
            <wsdl:input name="getCurrentDate">
                <soap11:body use="literal"/>
                <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCurrentDateResponse">
                <soap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap11:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="runWorkFlow">
            <soap11:operation style="document"/>
            <wsdl:input name="runWorkFlow">
                <soap11:body use="literal"/>
                <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="runWorkFlowResponse">
                <soap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap11:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isWorkflowRunning">
            <soap11:operation style="document"/>
            <wsdl:input name="isWorkflowRunning">
                <soap11:body use="literal"/>
                <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="isWorkflowRunningResponse">
                <soap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap11:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="runRenewal">
            <soap11:operation style="document"/>
            <wsdl:input name="runRenewal">
                <soap11:body use="literal"/>
                <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="runRenewalResponse">
                <soap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap11:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isRenewalRunning">
            <soap11:operation style="document"/>
            <wsdl:input name="isRenewalRunning">
                <soap11:body use="literal"/>
                <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="isRenewalRunningResponse">
                <soap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap11:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="runPrintDocuments">
            <soap11:operation style="document"/>
            <wsdl:input name="runPrintDocuments">
                <soap11:body use="literal"/>
                <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="runPrintDocumentsResponse">
                <soap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap11:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isPrintDocumentsRunning">
            <soap11:operation style="document"/>
            <wsdl:input name="isPrintDocumentsRunning">
                <soap11:body use="literal"/>
                <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="isPrintDocumentsRunningResponse">
                <soap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap11:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="runMbreMonthly">
            <soap11:operation style="document"/>
            <wsdl:input name="runMbreMonthly">
                <soap11:body use="literal"/>
                <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="runMbreMonthlyResponse">
                <soap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap11:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isMbreMonthlyRunning">
            <soap11:operation style="document"/>
            <wsdl:input name="isMbreMonthlyRunning">
                <soap11:body use="literal"/>
                <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="isMbreMonthlyRunningResponse">
                <soap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap11:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="runMbreQuarterly">
            <soap11:operation style="document"/>
            <wsdl:input name="runMbreQuarterly">
                <soap11:body use="literal"/>
                <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="runMbreQuarterlyResponse">
                <soap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap11:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isMbreQuarterlyRunning">
            <soap11:operation style="document"/>
            <wsdl:input name="isMbreQuarterlyRunning">
                <soap11:body use="literal"/>
                <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="isMbreQuarterlyRunningResponse">
                <soap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap11:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="runCountyOfficeUpdate">
            <soap11:operation style="document"/>
            <wsdl:input name="runCountyOfficeUpdate">
                <soap11:body use="literal"/>
                <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="runCountyOfficeUpdateResponse">
                <soap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap11:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isCountyOfficeUpdateRunning">
            <soap11:operation style="document"/>
            <wsdl:input name="isCountyOfficeUpdateRunning">
                <soap11:body use="literal"/>
                <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
                <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
                <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
                <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
            </wsdl:input>
            <wsdl:output name="isCountyOfficeUpdateRunningResponse">
                <soap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WsiAuthenticationException">
                <soap11:fault name="WsiAuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PCDebugToolsAPI">
        <wsdl:port name="PCDebugToolsAPISoap12Port" binding="tns:PCDebugToolsAPISoap12Binding">
            <soap12:address location="http://pc10dev.idfbins.com/pc/ws/gw/webservice/pc/pc800/pcdebugtools/PCDebugToolsAPI"/>
            <gwwsdl:address location="${pc}/ws/gw/webservice/pc/pc800/pcdebugtools/PCDebugToolsAPI"/>
        </wsdl:port>
        <wsdl:port name="PCDebugToolsAPISoap11Port" binding="tns:PCDebugToolsAPISoap11Binding">
            <soap11:address location="http://pc10dev.idfbins.com/pc/ws/gw/webservice/pc/pc800/pcdebugtools/PCDebugToolsAPI/soap11"/>
            <gwwsdl:address location="${pc}/ws/gw/webservice/pc/pc800/pcdebugtools/PCDebugToolsAPI/soap11"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:message name="moveClockTo">
        <wsdl:part name="parameters" element="tns:moveClockTo"/>
    </wsdl:message>
    <wsdl:message name="moveClockToResponse">
        <wsdl:part name="parameters" element="tns:moveClockToResponse"/>
    </wsdl:message>
    <wsdl:message name="WsiAuthenticationException">
        <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
    </wsdl:message>
    <wsdl:message name="getCurrentDate">
        <wsdl:part name="parameters" element="tns:getCurrentDate"/>
    </wsdl:message>
    <wsdl:message name="getCurrentDateResponse">
        <wsdl:part name="parameters" element="tns:getCurrentDateResponse"/>
    </wsdl:message>
    <wsdl:message name="runWorkFlow">
        <wsdl:part name="parameters" element="tns:runWorkFlow"/>
    </wsdl:message>
    <wsdl:message name="runWorkFlowResponse">
        <wsdl:part name="parameters" element="tns:runWorkFlowResponse"/>
    </wsdl:message>
    <wsdl:message name="isWorkflowRunning">
        <wsdl:part name="parameters" element="tns:isWorkflowRunning"/>
    </wsdl:message>
    <wsdl:message name="isWorkflowRunningResponse">
        <wsdl:part name="parameters" element="tns:isWorkflowRunningResponse"/>
    </wsdl:message>
    <wsdl:message name="runRenewal">
        <wsdl:part name="parameters" element="tns:runRenewal"/>
    </wsdl:message>
    <wsdl:message name="runRenewalResponse">
        <wsdl:part name="parameters" element="tns:runRenewalResponse"/>
    </wsdl:message>
    <wsdl:message name="isRenewalRunning">
        <wsdl:part name="parameters" element="tns:isRenewalRunning"/>
    </wsdl:message>
    <wsdl:message name="isRenewalRunningResponse">
        <wsdl:part name="parameters" element="tns:isRenewalRunningResponse"/>
    </wsdl:message>
    <wsdl:message name="runPrintDocuments">
        <wsdl:part name="parameters" element="tns:runPrintDocuments"/>
    </wsdl:message>
    <wsdl:message name="runPrintDocumentsResponse">
        <wsdl:part name="parameters" element="tns:runPrintDocumentsResponse"/>
    </wsdl:message>
    <wsdl:message name="isPrintDocumentsRunning">
        <wsdl:part name="parameters" element="tns:isPrintDocumentsRunning"/>
    </wsdl:message>
    <wsdl:message name="isPrintDocumentsRunningResponse">
        <wsdl:part name="parameters" element="tns:isPrintDocumentsRunningResponse"/>
    </wsdl:message>
    <wsdl:message name="runMbreMonthly">
        <wsdl:part name="parameters" element="tns:runMbreMonthly"/>
    </wsdl:message>
    <wsdl:message name="runMbreMonthlyResponse">
        <wsdl:part name="parameters" element="tns:runMbreMonthlyResponse"/>
    </wsdl:message>
    <wsdl:message name="isMbreMonthlyRunning">
        <wsdl:part name="parameters" element="tns:isMbreMonthlyRunning"/>
    </wsdl:message>
    <wsdl:message name="isMbreMonthlyRunningResponse">
        <wsdl:part name="parameters" element="tns:isMbreMonthlyRunningResponse"/>
    </wsdl:message>
    <wsdl:message name="runMbreQuarterly">
        <wsdl:part name="parameters" element="tns:runMbreQuarterly"/>
    </wsdl:message>
    <wsdl:message name="runMbreQuarterlyResponse">
        <wsdl:part name="parameters" element="tns:runMbreQuarterlyResponse"/>
    </wsdl:message>
    <wsdl:message name="isMbreQuarterlyRunning">
        <wsdl:part name="parameters" element="tns:isMbreQuarterlyRunning"/>
    </wsdl:message>
    <wsdl:message name="isMbreQuarterlyRunningResponse">
        <wsdl:part name="parameters" element="tns:isMbreQuarterlyRunningResponse"/>
    </wsdl:message>
    <wsdl:message name="runCountyOfficeUpdate">
        <wsdl:part name="parameters" element="tns:runCountyOfficeUpdate"/>
    </wsdl:message>
    <wsdl:message name="runCountyOfficeUpdateResponse">
        <wsdl:part name="parameters" element="tns:runCountyOfficeUpdateResponse"/>
    </wsdl:message>
    <wsdl:message name="isCountyOfficeUpdateRunning">
        <wsdl:part name="parameters" element="tns:isCountyOfficeUpdateRunning"/>
    </wsdl:message>
    <wsdl:message name="isCountyOfficeUpdateRunningResponse">
        <wsdl:part name="parameters" element="tns:isCountyOfficeUpdateRunningResponse"/>
    </wsdl:message>
    <wsdl:message name="gw-authentication">
        <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
    </wsdl:message>
    <wsdl:message name="gw-locale-only">
        <wsdl:part name="gw-locale-only" element="gwsoap:gw_locale"/>
    </wsdl:message>
    <wsdl:message name="gw-language-only">
        <wsdl:part name="gw-language-only" element="gwsoap:gw_language"/>
    </wsdl:message>
    <wsdl:message name="gw-transaction-id">
        <wsdl:part name="gw-transaction-id" element="gwsoap:transaction_id"/>
    </wsdl:message>
    <wsdl:message name="gw-traceability-id">
        <wsdl:part name="gw-traceability-id" element="gwsoap:traceability_id"/>
    </wsdl:message>
</wsdl:definitions>
